# Required, remove render api key if you're not using render

SESSION_ID=your-kord_ai-t7hIBGjbyF3RIUht
OWNER_NUMBER=2349129565965
WORKTYPE=private
PREFIX=[.!?]
TIMEZONE=Africa/Lagos
OWNER_NAME=YourName
BOT_NAME=Kord
RENDER_API_KEY=your-render-api-key
