# Required, remove render api key if you're not using render

SESSION_ID=your-session-id-from-kord.live/session
OWNER_NUMBER=2348035936169
WORKTYPE=private
PREFIX=[.!?]
TIMEZONE=Africa/Lagos
OWNER_NAME=Ifeoluwa
BOT_NAME=Mhicolo
RENDER_API_KEY=your-5-api-ke
