# Required, remove render api key if you're not using render

SESSION_ID=kord_ai-dkN4WR4OZm2Ha4A3
OWNER_NUMBER=2348035704351
WORKTYPE=private
PREFIX=[.!?]
TIMEZONE=Africa/Lagos
OWNER_NAME=Casta La Grande 
BOT_NAME=Ass
RENDER_API_KEY=your-render-api-key
